.button {
    box-shadow: none;
    border: 2px solid #3E96F7;
    padding: 15px 30px;
    background-color: #3E96F7;
    font-family: 'Chivo', 'Arial', sans-serif;
    font-weight: 400;
    color: #fff;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 4px;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.15s linear;
    margin-bottom: 30px;
}
.button_role_submit{
    margin-top: 30px;
    margin-bottom: 0;
}
.button_role_cancel{
    margin-top: 30px;
    margin-bottom: 0;
    color: #3E96F7;
    background-color: #fff;
    border: 2px solid #0f81ff;
    float: right;
}
.button:hover {
    background-color: #0f81ff;
    border: 2px solid #0f81ff;
}
.button_role_cancel:hover {
    color: #fff;
    background-color: #333;
    border: 2px solid #0f81ff;
}
.button_role_link{
    text-transform: inherit;
    letter-spacing: normal;
    font-size: 14px;
    padding: 7px 20px;
    margin: 0 15px;
}