.header {
    border-bottom: #fff 1px solid;
    width: 100%;
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__wrapper {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1360px;
    padding-right: 40px;
    padding-left: 40px;
}

.header__app-name {
    font-family: 'IBM Plex Sans', 'Arial', sans-serif;
    font-size: 40px;
    line-height: 48px;
    color: #fff;
    font-weight: 700;
    margin: 0;
}

.header__app-name_accent {
    color: #3E96F7;
}

.header__link {
    font-family: 'Chivo', 'Arial', sans-serif;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 4px;
    text-transform: uppercase;
    transition: 0.15s linear;
    cursor: pointer;
}

.header__link:hover {
    color: #3E96F7;
}