.recipeSection {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 33.3333% 66.6666%;
    grid-gap: 40px;
    width: 100%;
    max-width: 1360px;
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 40px;
    min-height: calc(100vh - 165px);
}