@media screen and (max-width: 786px){
    .recipeSection{
        grid-template-columns: auto;
        grid-gap: 20px;
    }
    .recipe{
        margin: 0;
    }
    .header{
        padding: 20px 0;
    }
    .header__app-name{
        font-size: 26px;
    }
    .header__link{
        font-size: 16px;
        letter-spacing: 1px;
    }
    .recipeCard__text-wrapper{
        width: auto;
    }
}
@media screen and (max-width: 425px){
    .header__app-name{
        font-size: 20px;
    }
    .header__link {
        font-size: 14px;
        letter-spacing: 0;
    }
    .recipe{
        padding: 20px;
    }
    .recipe__title {
        font-size: 24px;
        line-height: 30px;
    }
    .recipe__subtitle{
        font-size: 20px;
        line-height: 30px;
    }
    .recipe__url{
        font-size: 16px;
    }
    .recipe__ingredients,.recipe__instruction{
        margin: 5px 0;
        font-size: 16px;
        line-height: 22px;
    }
    .recipeSection{
        padding: 20px;
    }
    .button{
        padding: 10px 20px;
        font-size: 16px;
        letter-spacing: 2px;
    }
}